<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Main node page'}) %>
<body>
    <h1>Boring</h1>
    
    <input type="text" id="username">
    <input type="text" id="input">
    <button id="sendButton">Send</button>

    <div>
        <span>Username</span><span>Message</span>
    </div>
    <div id="chatBox">

    </div>
    <script src="script.js"></script>
</body>
</html>